.footer-container {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 2.5em;
  border-radius: 10px;
}
.footer-container a {
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  .footer-container span {
    font-size: var(--p-resp-2);
  }
}
@media screen and (max-width: 430px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }
  .footer-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
