.why-section {
  margin-top: 8em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
}
.why-section h2 {
  font-size: var(--h2);
  font-weight: 700;
  line-height: 1.2;
  color: black;
}
.why-section .card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}
.why-section .card {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 3em;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}
.why-section .card svg {
  height: 5rem;
}
.why-section .card h4 {
  font-weight: 400;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: var(--h4);
  color: black;
}
.why-section .card h4::before {
  content: "";
  height: 50%;
  width: 100%;
  display: block;
  z-index: -5;
  opacity: 30%;
  position: absolute;
  bottom: -10px;
  transition: all 0.3s ease;
  background-color: rgba(128, 128, 128, 0.822);
}
.why-section .card:hover > h4::before {
  transform-origin: bottom;
  transition: ease 0.3s all;
  height: 80%;
}
.why-section .card p {
  letter-spacing: normal;
  text-align: left;
  font-size: var(--p);
  line-height: 2;
  font-weight: 400;
  margin-bottom: 0;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .why-section h2 {
    font-size: var(--h1-resp-3);
  }
  .card h4 {
    font-size: var(--h4-resp-2) !important;
  }
  .card p {
    font-size: var(--p-resp-2) !important;
  }
}
@media screen and (max-width: 430px) {
  .why-section h2 {
    text-align: center;
  }
  .card-container {
    display: block !important;
  }
  .card {
    width: 100% !important;
  }
}
